/*
    WebCalculator (v1.0) - Cyril John Magayaga
    --------------------------------------------------------------------------
    GitLab: https://gitlab.com/cyrilmagayaga/webcalculator
    --------------------------------------------------------------------------
    WebCalculator is a simple web-based scientific calculator was created and
    developed by Cyril John Magayaga (GitLab: https://gitlab.com/cyrilmagayaga
    and GitHub: https://github.com/magayaga)
*/
@font-face {
    font-family: "Century Schoolbook";
    src: url("assets/Century-SchoolBook.woff2")format("woff2");
  }
  
  @font-face {
    font-family: "Roboto Mono";
    src: url("assets/Roboto-Mono-Regular.woff2")format("woff2");
  }
  
  body.dark-mode {
    background-color: #121212 !important;
    color: white;
  }
  
  .calculator.dark-mode {
    background-color: #1a1a1a;
  }
  
  body {
    font-family: "Century";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: wheat;
  }
  
  .calculator {
    border: 1px solid black;
    padding: 25px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"] {
    width: 95.9%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: "Century Schoolbook";
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
  }
  
  button {
    font-size: 25px;
    font-family: "Century Schoolbook";
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .dark-mode-button {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 12px 16px;
    background-color: #333;
    border: none;
    cursor: pointer;
    user-select: none;
    width: 52px;
    height: 44px;
  }
  
  .paragraph {
    position: absolute;
    font-size: 17px;
    left: 20px;
    top: 20px;
    padding: 12px 16px;
    background-color: #333;
    color: #fff !important;
    border: none;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 4px;
    width: 20px;
    height: 20px;
  }
  
  .link {
    color: white;
    display: block;
    text-decoration: none;
    background: 0 0;
    border: 0;
  }
  
  .top-paragraph {
    font-size: 12.5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
  }
  
  .light {
    color: white;
  }
  
  .button-orange {
    background-color: #ff783a;
  }
  
  .button-red {
    background-color: #ff3b3b;
    color: white;
  }
  
  .button-gray {
    background-color: #c9c9c9;
  }
  
  .button-dark-gray {
    background-color: #636363;
    color: white;
  }